---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
export function getStaticPaths() {
  return [
    {params: {author: 'clifford'}},
    {params: {author: 'rover'}},
    {params: {author: 'spot'}},
  ];
}

const { author } = Astro.params;
---
<div>Good dog, {author}!</div>
